body,html{
    width: 100%;
    height: 100%;
    background-color: pink;
    #title{
        color:white
    }
}
p:nth-of-type(1){
    width:300px;
    height:150px;
    background: url(./img1.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
p:nth-of-type(2){
    width:300px;
    height:150px;
    background: url(./img2.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
p:nth-of-type(3){
    width:300px;
    height:150px;
    background: url(./img3.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}